.slideInRight {
  animation: slideInRight 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.slideOutRight {
  animation: slideOutRight 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0.7;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0.7;
  }
}

.backdropFadeIn {
  animation: backdropFadeIn 0.35s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.backdropFadeOut {
  animation: backdropFadeOut 0.35s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes backdropFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
